<div style="text-align: center;">
  <br />
  Привет!<br /><br />
  Тук няма да прочетете дълги обяснения защо четем, как четем и къде четем. Не обичаме да говорим с апломб, но ако много настоявате за такъв винаги може да се обърнете към надъханите автори на сайтове като този на Министерство на образованието, младежта и науката.<br /><br />

  Сега малко по-сериозно. От много време насам книгите са чисто и просто нашето любимо занимание. Е, извън няколко други, в които използването на въображението ни също е предимство ;). Не си изкарваме прехраната с четене и(ли) писане, не сме журналисти(господин Бареков, как си?) и не твърдим с високо вдигнат нос, че без книги светът няма да е същият…Макар че лично нашият става много по-жив и интересен с пътуванията по страниците и между редовете.<br /><br />

  Обичаме да четем качествена и почти шизофренично разнообразна литература. Мразим пухени вампири, които блещукат. Алергични сме към притчи, които сме прозрели още като юноши, но виждаме събрани в поучителни и “мъдри” книги за възрастни. Упадъкът по страниците не ни плаши, но пък сме скептични към прекаления патос…<br /> <br />

И ще се радваме да споделим с вас всички наши мисли, възникнали по време на четене.
</div>
