<div class="row main_row">
  <div class="span4">
    <%=image_tag @reviews.first.image.url if @reviews.any? %>
  </div>
  <div class="span4 for_logo">
    <div>
      <%= image_tag('main_logo.png') %>
      <hr />
      <p><%= sanitize @reviews.first.review.truncate(200) %></p>
      <%=link_to 'Прочети повече', book_review_path(@reviews.first)%>
    </div>
  </div>

</div>
<div class="row">
    
</div>

