<h1>All news from Bookhunterz</h1>

<ul class="thumbnails">
  <% @news.each do |news| %>
    <li class ="span3">
      <div>
        <p><%= link_to news.title, book_news_path(news) %></p>
        <p><%= link_to news.text, book_news_path(news) %></p>
        <p><%= link_to image_tag(news.image.thumb.url), book_news_path(news) %></p>
      </div>
    <li>
  <% end %>
<ul>
