<h1>Всичко интересно</h1>

<ul class="thumbnails">
  <% @news.each do |news| %>
    <li class ="span3">
      <div>
        <p><%= link_to news.title, book_news_path(news) %></p>
        <p><%= link_to image_tag(news.image.url), book_news_path(news) %></p>
        <p><%= link_to sanitize(news.text), book_news_path(news) %></p>
        <p>Публикувано на: <%= news.updated_at.to_date %></p>
      </div>
    <li>
  <% end %>
<ul>
