<h1>All reviews from Bookhunterz</h1>

<ul class="thumbnails">
<% @reviews.each do |review| %>
    <li class ="span4">
    <div>
      <p><%= link_to image_tag(review.image.url), book_review_path(review) %></p>
      <p><%= link_to review.book_name, book_review_path(review)%></p>
      <p><%= review.review.truncate(500) %></p>
    </div>
  </li>
<% end %>
</ul>
