<h1>All reviews from Bookhunterz</h1>
<%= link_to "Create review", new_review_path %>

<ul class="thumbnails">
<% @reviews.each do |review| %>
    <li class ="span4">
    <div>
      <p><%= image_tag(review.image.thumb.url) %></p>
      <p><%= review.book_name %></p>
      <p><%= review.review.truncate(500) %></p>
    </div>
  </li>
<% end %>
</ul>
